@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
    --primary-color: #045B87;
    --secondary-color:#cfaf9756;
    --extra-color:#468a96;
    --off-white: #F3F4F6;
    --dark-gray: #6B7280;
}


body 
{
    min-width: 224px;
    display: flex;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    background-color: var(--secondary-color);
}

.container
{
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 100%;
    align-items: stretch;
    flex-shrink: 0;
    flex-grow: 1;
}

.flex-item
{
    color:white;
    font-size: 1rem;
    text-align: center;
    flex-direction: column-reverse;
}

.item1
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    background-color: var(--primary-color);
    min-height: fit-content;
    min-width: fit-content;
    justify-content: space-around;
}

.item1 .nav-div-h1
{
    display: flex;
    flex-wrap: wrap;
    color: white;
}


.item1 .nav-div-ul
{
    display:flex;
    flex-wrap: wrap;
    padding-top: 2rem;
    padding-bottom: 1rem;
    padding-inline-start: 0px;
    margin-block-start: 0em;
    margin-block-end: 0em;
}

.item1 .list-items
{
    display: flex;
    min-width: fit-content;
    padding: 0rem 2rem;
    flex-direction: row;
    list-style-type: none;
}

.item1 .nav-links
{
    color: white;
    text-decoration: none;
}

.item1 .nav-links::after {
    content: '';
    display: block;
    width: 0px;
    height: 2px;
    background: white;
    transition: width .3s;
}

.item1 .nav-links:hover::after 
{
    width: 100%;
}

.item2
{
    display: flex;
    min-width: 130.4px;
    background-color: yellowgreen;
}
.item3
{
    display: flex;
    min-width: 130.4px;
    background-color: violet;
}