@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Kalam&display=swap");

:root {
    --primary-color: #045B87;
    --cream-color:#F6F6EE;
    --extra-color:#2b6777;
    --off-white: #F3F4F6;
    --dark-gray: #6B7280;
    --dark-blue: #123C69;
    --grain-color:#D7CEC7;
}


body 
{
    min-width: 350px;
    max-height: min-content;
    display: flex;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    background-color: #2b6777;
}

.container
{
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 100%;
    align-items: stretch;
    flex-shrink: 0;
    flex-grow: 1;
}

.flex-item
{
    color:white;
    font-size: 1rem;
    text-align: center;
    flex-direction: column-reverse;
}

.item1
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: sticky;
    top: 0px;
    width: 100%;
    background-color: #123C69;
    min-height: fit-content;
    min-width: fit-content;
    justify-content: space-around;
}

.item1 .nav-div-h1
{
    display: flex;
    flex-wrap: wrap;
    color: white;
}


.item1 .nav-div-ul
{
    display:flex;
    flex-wrap: wrap;
    padding-top: 2rem;
    padding-bottom: 1rem;
    padding-inline-start: 0px;
    margin-block-start: 0em;
    margin-block-end: 0em;
}

.item1 .list-items
{
    display: flex;
    min-width: fit-content;
    padding: 0rem 2rem;
    flex-direction: row;
    list-style-type: none;
}

.item1 .nav-links
{
    color: white;
    text-decoration: none;
}

.item1 .nav-links::after {
    content: '';
    display: block;
    width: 0px;
    height: 2px;
    background: white;
    transition: width .3s;
}

.item1 .nav-links:hover::after 
{
    width: 100%;
}

.item2
{
    font-family: "Kalam", cursive;
    font-size: large;
    width: 100%;
    display: flex;
    margin: 0 0;
    flex-direction: row-reverse;  
    background-color: var(--dark-gray);
    align-items: center;
    justify-content: center;
}

.hero-img
{
    object-fit: contain;
    width: 100%;
    margin-right: -30px;
    border-radius: 8px;
}

.hero-heading
{
    display: flex;
    flex-direction: column;
    font-weight: bolder;
    margin-top: 4rem;
    margin-right: -454px;
    max-width: 20%;
    background-color: #F6F6EE;
    justify-content: center;
    width: 50%;
    height: fit-content;
    min-width: 425px;
    min-height: 245px;
    color: black;
    align-items: center;
    border-radius: 8px;
}

#profile
{
    color: var(--primary-color);
}

@media only screen and (max-width:19580px)
{
    .item2
    {
        margin-bottom: 2rem;
        flex-direction: column ;
    }
    .hero-img
    {
        width: 100%;
        margin: 0;
    }
    .hero-heading
    {
        width: 100%;
        margin: 0;
        padding-bottom: 2rem;
        max-width: 100%;
        min-width: 180px;
        min-height: 150px;
    }
}

.item3
{
    display: flex;
    flex-direction: column;
    min-width: 130.4px;
    background-color: #F6F6EE;
    color: black;
    width: fit-content;
    align-items: center;
    margin: 32px auto;
    padding: 2rem 2rem;
    border-radius: 8px;
}

.skills-ul
{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
}

.skills-list-item
{
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
}


@media only screen and (max-width:650px)
{
    .skills-ul
    {
        flex-direction: row;
    }
    .skills-icons
    {
        width: 35px;
        height: 35px;
    }

    .skills-list-item
    {
        margin: 3rem 0;
        padding-left: 0;
    }
}


@media only screen and (max-width:500px)
{
    .item3
    {
        padding-left: 10px;
        padding-right: 10px;
    }
    .skills
    {
        display: flex;
    }
    .skills-ul
    {
        margin-left: 1rem;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .skills-icons
    {
        width: 18px;
        height: 20px;
        margin-left: 1.3rem;
    }

    .skills-list-item
    {
        margin: 0;
        padding-left: 0;
    }
}

.item4
{
    display: flex;
    flex-direction: column;
    width: 55%;
    background-color: #F6F6EE;
    color: black;
    align-items: center;
    margin: 32px auto 32px auto;
    padding: 2rem 2rem;
    border-radius: 8px;
}

.item4-link
{
    text-decoration: none;
    color: var(--dark-blue);
}

.item4 .item4-link::after {
    content: '';
    display: block;
    width: 0px;
    height: 2px;
    background: var(--dark-blue);
    transition: width .3s;
}

.item4 .item4-link:hover::after 
{
    width: 100%;
}

.item5
{
    display: flex;
    flex-direction: column;
    width: 55%;
    background-color: #F6F6EE;
    color: black;
    align-items: center;
    margin: 2rem auto;
    padding: 2rem 2rem;
    border-radius: 8px;
}

.item5-link
{
    text-decoration: none;
    color: var(--dark-blue);
}

.item5 .item5-link::after {
    content: '';
    display: block;
    width: 0px;
    height: 2px;
    background: var(--dark-blue);
    transition: width .3s;
}

.item5 .item5-link:hover::after 
{
    width: 100%;
}

.item6
{
    display: flex;
    flex-direction: column;
    background-color: #F6F6EE;
    color: black;
    align-items: center;
    padding: 3rem 0;
    border-radius: 8px;
    width: 100%;
    margin: 32px 0 0 0;
    max-width: 100%;
    bottom: 0px;
}

.item6-div
{
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-shrink: 2;
    padding-bottom: 3rem;
    justify-content: space-evenly;
}

.item6-link
{
    text-decoration: none;
    color: var(--dark-blue);
    padding: 2rem 0 0 0;
}

.item6 .item6-link::after {
    content: '';
    display: block;
    width: 0px;
    height: 2px;
    background: var(--dark-blue);
    transition: width .3s;
}

.item6 .item6-link:hover::after 
{
    width: 100%;
}


@media only screen and (max-width:300px)
{
    .item6-div
    {
        flex-direction: column;
    }
}

h2
{
    
    display: block;
    font-size: 1.5em;
    margin-block-start: 0;
}

.item2-projects
{
    width: 100%;
    display: flex;
    margin: 0 0 32px 0;
    flex-direction: row-reverse;  
    background-color: var(--cream-color);
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
    color: black;
}

.item2-projects p
{
    text-decoration: underline;
}

.item3-projects
{
    display: flex;
    background-color: #F6F6EE;
    color: black;
    margin: 2rem auto;
    padding: 0 2rem 1rem 2rem;
    width: 68%;
    border-radius: 8px;
    min-height: 150px;

}


@media only screen and (max-width:310px)
{
    .item3-projects
    {
        padding: 0;
    }
}

.item3-projects-ul h3
{
    margin-top: 0;
}

.item3-projects-ul
{
    list-style-type: none;
    padding-inline-start: 0;
    min-width: min-content;
}
.item3-projects-ul ul
{
    list-style-type: none;
    display: flex;
    min-width: min-content;
    justify-content: space-evenly;
    padding-inline-start: 0;
}

.item3-projects-ul .list-items
{
    display: flex;
    min-width: min-content;
    padding: 0rem 2rem;
    flex-direction: row;
    list-style-type: none;
}

.item3-projects-ul .nav-links
{
    color: var(--dark-blue);
    text-decoration: none;
}

.item3-projects-ul .nav-links::after {
    content: '';
    display: block;
    width: 0px;
    height: 2px;
    background: var(--dark-blue);
    transition: width .3s;
}

.item3-projects-ul .nav-links:hover::after 
{
    width: 100%;
}